<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- Replace these with your actual values and rename file to secrets.xml -->
    <string name="google_oauth_client_id">YOUR_CLIENT_ID</string>
    <string name="google_oauth_client_secret">YOUR_CLIENT_SECRET</string>
    <string name="maps_api_key">YOUR_MAPS_API_KEY</string>
</resources>
